alabaster==0.7.12
appdirs==1.4.3
attrs==18.2.0
Babel==2.6.0
bleach==3.0.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
descartes==1.1.0
docutils==0.14
entrypoints==0.3
Fiona==1.8.4
geopandas==0.4.0
greenlet==0.4.15
html5lib==1.0.1
idna==2.8
imagesize==1.1.0
ipykernel==4.10.0
ipython==6.0.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kiwisolver==1.0.1
lxml==4.3.0
MarkupSafe==1.1.0
matplotlib==2.2.3
mistune==0.8.4
msgpack==0.6.0
msgpack-python==0.5.6
munch==2.3.2
nbconvert==5.4.0
nbformat==4.4.0
nbimporter==0.3.1
neovim==0.3.1
networkx==2.2
nltk==3.4
notebook==5.7.4
numpy==1.15.4
olefile==0.46
packaging==18.0
palettable==3.1.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prometheus-client==0.5.0
prompt-toolkit==1.0.15
psutil==5.4.8
ptyprocess==0.6.0
pycountry==18.12.8
Pygments==2.3.1
pynvim==0.3.1
pyparsing==2.3.0
pyproj==1.9.6
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.21.0
sankeyview==1.1.8
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
typing==3.6.6
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wordcloud==1.5.0
xlrd==1.2.0
