alabaster
appdirs
attrs
Babel
bleach
certifi
chardet
cycler
decorator
docutils
entrypoints
greenlet
html5lib
idna
imagesize
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
MarkupSafe
matplotlib
mistune
msgpack-python
nbconvert
nbformat
neovim
networkx
nltk
notebook
numpy
olefile
packaging
palettable
pandas
pandocfilters
pexpect
pickleshare
Pillow
prompt-toolkit
psutil
ptyprocess
pycountry
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
requests
sankeyview
scipy
seaborn
simplegeneric
six
snowballstemmer
Sphinx
sphinxcontrib-websupport
terminado
testpath
tornado
traitlets
typing
urllib3
wcwidth
webencodings
widgetsnbextension
wordcloud
xlrd
